@import url('https://fonts.googleapis.com/css?family=Tangerine&display=swap');

/* Document */
body, section {
	background-color: #FDFDFD;
}
header, footer {
	background-color: #223843;
}
html, body, .nopadding {
	margin: 0;
	padding: 0;
}
.centered {
	text-align: center;
}

/* Header */
header {
	font-family: 'Tangerine', cursive;
	font-size: 65px;
	color: white;
	padding: 20px;
}

/* Navigation Bar */
nav ul {
	background-color: #D2D8DB;
	/* hide the unordered list dot */
	list-style-type: none;
	/* without this the element's hight is always 0... */
	overflow: auto;
}
nav li {
	/* force list to be horizontal */
	float: left;
}
nav li a {
	padding: 18px 20px;
	color: #111111;
	/* removes href text underline */
	text-decoration: none;
	/* without this the element's hight shrinks to fit the text */
	display: block;
}
nav li a:hover {
	background-color: #A0C5D8;
	color: white;
	text-decoration: none;
	font-weight: bold;
}

/* Footer */
footer {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 8px;
	color: white;
}
footer p {
	margin: 3px;
}